{% extends "../main/base.html" %}

{% block content %}
<section class="container pt-5 mt-5">
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
    <h2>Reset password</h2>
    <p>Enter the email address you used to register.</p>
    <p>We'll send you an email with your username and a link to reset your password.</p>
    <table>
      <tr>
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
      </tr>
    </table>
    </br>
    <input type="submit" class="btn btn-secondary" value="Submit">
  </form>
  </br>
  <p>Back to <a href="{% url 'login' %}">login</a>.</p>
</section>
{% endblock %}
